html,
body,
#root,
#outer,
#app {
    height: 100%;
}

*:focus {
    outline: none;
}

#app > section {
    height: calc(100% - 100px);
}

body {
    background-color: #FCFFF5;
    color: #193441;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

.pure-g > div {
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expander {
    /*flex:1;*/
}

.info-icon {
    text-align: right;
}

.l-box {
    padding: 1em;
}

.label-container {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #3E606F;
    color: #FCFFF5;
    padding-left: 5px;
}

.label-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    background-color: #3E606F;
    color: #FCFFF5;
    padding-right: 5px;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.color1 {
    background-color: #D1DBBD;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 5px;
    background-color: #EAF5D3;
    border: solid 5px #3E606F;
    border-top: 0;
    transition: border 0.3s;
}

input[type="text"]:focus {
    outline: none;
}

.is-fullwidth .react-datepicker__input-container {
    width: 100%;
}

.is-fullheight {
    height: 100%;
}

.row {
    padding: 10px 20px;
}

.is-button {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 5px;
    border: solid 5px #3E606F;
    background-color: #3E606F;
    color: #FCFFF5;
    text-transform: uppercase;
}

.header {
    background-color: #3E606F;
    color: #FCFFF5;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-family: 'Raleway';
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
}

.select-wrapper {
    background-color: #EAF5D3;
    display: inline-block;
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    border: 3px solid #3E606F;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 10px;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 10px;
    right: 16px;
    top: 11px;
}

select {
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    z-index: 10;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 5px;
    border: solid 5px #3E606F;
    border-top: 0;
}

.select-wrapper:focus {
    background-color: #FCFFF5;
}

.tag {
    opacity: 1;
    color: #EAF5D4;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 14px;
}

.height-90 {
    height: 90%;
}

.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-1 {
    flex: 1;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.button-next {
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 154px;
}

.margin-top-5 {
    margin-top: 5px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

.is-fullwidth {
    width: 100%;
}

.selected-tags-container {
    background-color: #3E606F;
}

.delete {
    color: lightcoral;
}

.signin-container {
    background: url(../assets/signup_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.signin-input {
    display: block;
    margin: 0;
    font-family: sans-serif;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    font-size: 18px !important;
    box-sizing: border-box;
    padding: 15px 7px !important;
    border-top: 0;
    background-color: #fff !important;
    opacity: 0.7 !important;
    border: 0 !important;
    width: 80% !important;
    margin-bottom: 10px !important;
    font-weight: normal !important;
    color: #4F3910 !important;
}

.signin-submit {
    box-sizing: border-box;
    padding: 15px 7px;
    background-color: #fff5a2 !important;
    border: 0 !important;
    width: 80% !important;
    margin-top: 20px;
    font-weight: normal;
    font-weight: bold;
    color: #4F3910 !important;
}

.signin-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-img {
    width: 140px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}
